[submodule "extern/cxxopts"]
	path = extern/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "extern/easy-socket"]
	path = extern/easy-socket
	url = git@github.com:masesk/easy-socket.git
